<div class='container'>
    <div class='row'>
        <div class='col-xs col-md-12 be-soft_gray'>
            <h1>Edicion de Concesionario</h1>            
        </div>
    </div>
</div>

<%= render 'form' %>
<br>
<br>
<div class='container'>
    <div class='row'>
        <div class='col-xs col-md-6 be-soft_gray'>
            <span class='pull-left'>
                <%= link_to 'Mostra', @concessionary, class:'btn btn-default btn-sm' %> |
                <%= link_to 'Regresar', concessionaries_path, class:'btn btn-default btn-sm' %>
            </span>
        </div>
    </div>
</div>
