var concessionary = $('#taxpayer').val();
var serviceID = $('.services option:selected').val();
//var uma = 75.49;
//var uma = 80.60;
var uma = 84.49;
if(serviceID != '')
{
    var units = $('.unit option:selected').text();
    var quantities = $('.cantidad').val();
    //console.log(quantities);
    //console.log(units);
    if($.isNumeric(quantities))
    {
        switch(serviceID)
        {
            case '1':
                //tax = 320.16;
                tax = uma*4;
                break;
            case '2':
                //tax = 400.2;
                tax = uma*5;
                break;
            case '3':
                //tax = 240.12;
                tax = uma*3;
                break;
            default:
                    tax=75.49;
        }
        
        if(units == 'K.G.')
            quantities = quantities * 0.001;

        var payment = Math.round(tax*quantities);
        var percent = Math.round(payment*0.3);
        var total = percent + payment;
        quantities = $('.cantidad').val();
        var rowCount = $('.tbone').children('tr').length;
        
        if( rowCount <= 5)
        {
            $('.unit').val(1);                                         //SELECT TON
            $('.cantidad').val('');
            $('.services').val('');                                    //establish the value
            $('.generate').show();
            $.ajax({
                type:'POST'
                ,url:'/enteros/putService'
                ,dataType:'json'
                ,cache: false
                ,data: { entero: { taxpayer: concessionary, service: serviceID, unit: units, quantity: quantities } }
                ,success: function(data){
                    $('.display').find('tbody:last').append('<tr><td>'+data.id+'</td><td>'+serviceID+'</td><td>'+payment+'</td><td>'+percent+'</td><td>'+total+'</td></tr>');
                    $('.btnrm').show();
                    $('#taxpayer').prop('disabled',true);
                    $('.services option[value="'+serviceID+'"]').attr('disabled','disabled');
                }
                ,error:function(data) { console.log(data); }
            });
        }
        else
        {
            alert('no se pueden agregar mas de 6 servicios ultimo servicio eliminado');
            $('.generate').hide();
            $('.btnplus').hide();
        }
    }
    else
    {
        alert('proporcionar solo numeros!');
        $('.cantidad').val('');
    }
}
else
{
    alert('Debe seleccionar un servicio para poder continuar');
}