//---------------------------------------------
    sm = 80.04;
    op = $('.services option:selected').val();
    unit = $('.unit option:selected').val();
    cantidad = $('.cantidad').val();
    
//---------------------------------------------
    if($.isNumeric(cantidad))
    {
        switch(op)
        {
            case '1':
                tax=4*sm;
                break;
            case '2':
                tax=5*sm;
                break;
            case '3':
                tax=3*sm;
                break;
            default:
                tax=sm;
        }
        if(unit == 'K.G.')
            cantidad = cantidad / 1000; 
        payment = tax * cantidad;
        $.ajax({
            type:'POST',
            url:'/enteros/putService',
            dataType:'json',
            cache: false,
            data: { entero: { taxpayer: $('#taxpayer').val(), service: op, unit: unit, quantity: $('.cantidad').val() } }
            ,success: function(data)
            {
                $('.display').find('tbody:last').append('<tr><td>'+data.id+'</td><td>'+payment+'</td><td>'+payment*0.3+'</td><td>'+(payment+payment*0.3)+'</td></tr>');
                $('.cantidad').val('');
                $('.services').val(1);
                $('.btnrm').show();
            }
            ,error:function(data)
            { 
                console.log(data); debugger; 
            }
        });
    }
    else
    {
        alert('proporcionar solo numeros!');
        $('.cantidad').val('');
    }
