//$('.display').find('tr').each(function(){
//    $(this).find('td').eq(0).before('<td>BINGO</td>');
//});
//    $('form#new_entero').submit();
$('.display').find('tbody:last').append('<tr><td>'+payment+'</td><td>'+payment*0.3+'</td><td>'+(payment+payment*0.3)+'</td></tr>');
$('.cantidad').val('');
$('.services').val(1);
idArray.push(<%= @entero.id %>);
//alert(idArray[0]);
//console.log(idArray.length);
