<div class='container'>
    <div class='row'>
        <div class='col-xs col-md-12 be-soft_gray'>
            <h1>Edicion de Vehiculos</h1>            
        </div>
    </div>
</div>

<%= render 'form' %>
<br>
<div class='container'>
    <div class='row'>
        <div class='col-xs col-md-12 be-soft_gray'>
            <br>
            <%= link_to 'Mostrar', @vehicle, class:'btn btn-default btn-sm' %> |
            <%= link_to 'Regresar', vehicles_path, class:'btn btn-default btn-sm' %>
        </div>
    </div>
</div>