<div class='container'>
    <div class='row'>
        <div class='col-xs col-md-12 be-soft_gray'>
            <h1>Nuevo Vehiculo</h1>
        </div>
    </div>
</div>
<%= render 'form' %>
<br>
<br>
<div class='container'>
    <div class='row'>
        <div class='col-xs col-md-12 be-soft_gray'>
            <%= link_to 'Regresar', vehicles_path, class:'btn btn-default btn-lg' %>            
        </div> 
    </div>
</div>
